.container {
  inline-size: 100%;
  block-size: 100%;
  min-block-size: 0;
  padding: 1em;
  justify-items: center;
  grid-template-rows: 1fr auto;

  & > * {
    min-block-size: 0;
  }
}

.footer {
  grid-template-columns: 1fr auto;
}

.inventory {
  display: flex;
  gap: var(--size-3);
  justify-content: space-between;
  border-radius: var(--radius-2);
  padding: var(--size-2);
  background-color: var(--surface-3);
}

.inventoryItem {
  opacity: 80%;
  transition: opacity 0.5s ease;

  & > img {
    display: block;
    block-size: 100%;
  }
}

.fightWeapon {
  background: var(--weapon-url);
  opacity: 80%;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.5s ease;
  grid-column-start: var(--player-col);
  grid-row-start: var(--player-row);
  z-index: 5;
}

.board {
  display: grid;
  grid-template-columns: repeat(var(--board-cols), 1fr);
  grid-template-rows: repeat(var(--board-rows), 1fr);
  max-inline-size: 100%;
  aspect-ratio: 1/1;
  border: 12px solid #73752d;
  border-radius: var(--radius-3);
  background-image: url(src/components/App/background.png);
}

.tile {
  background: var(--tile-url);
  background-size: cover;
}

.overlay {
  background: url(src/components/App/sign.png);
  opacity: 80%;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.5s ease;
  z-index: 3;
}

.player {
  display: grid;
  grid: "player" 1fr / 1fr;
  z-index: 2;
  grid-column-start: var(--player-col);
  grid-row-start: var(--player-row);
  position: relative;

  background-image: url(src/components/App/char1.png);
  background-size: 80% 80%;
  background-position: center;

  & > span {
    grid-area: player;
    text-align: center;
    font-size: 10px;
    margin-block-start: 5%;
  }
}
