@font-face {
  font-family: 'HYWenHei';
  src: url('/fonts/HYWenHei.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-fg: #ffffff;
  --color-bg: rgba(60, 60, 60, 1);
  --color-bg-dark: #1e1e1e;
  --color-border: #2d3861;
  --color-5-star-start: #83471b;
  --color-5-star-end: #ab5c10;
  --color-4-star-start: #4d4280;
  --color-4-star-end: #935db1;
  --color-collab-start: #862f37;
  --color-collab-end: #a62a3a;
  --color-empty-start: #565860;
  --color-empty-end: #75787e;
  --color-card-start: var(--color-empty-start);
  --color-card-end: var(--color-empty-end);
  --color-card-fg: #363f50;
  --color-link-fg: #93b5f4;
  --color-badge-fg: black;
  --color-badge-bg: #ffc787;
  --color-button-fg: var(--color-card-fg);
  --color-button-bg: white;
  --color-button-border: #ede5d8;
  --color-button-secondary-fg: white;
  --color-button-secondary-bg: var(--color-button-fg);
  --color-button-secondary-border: #545d6d;

  --color-anemo: #74c2a8;
  --color-cryo: #9fd6e3;
  --color-dendro: #a5c83b;
  --color-electro: #af8ec1;
  --color-geo: #fab632;
  --color-hydro: #4cc2f1;
  --color-pyro: #ef7938;

  --size-border-radius: 6px;
  --size-grid-gap: 10px;
  --size-element: 12px;
  --size-font: 10px;
  --size-card-min-width: 64px;
}

@media (min-width: 768px) {
  :root {
    --size-element: 18px;
    --size-font: 14px;
    --size-card-min-width: 96px;
  }
}

@media (min-width: 1024px) {
  :root {
    --size-element: 24px;
    --size-font: 16px;
    --size-card-min-width: 128px;
  }
}

::-webkit-scrollbar {
  width: initial;
  height: initial;
}

::-webkit-scrollbar-track {
  background-color: var(--color-bg-dark);
  border-radius: 100vmax;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-bg);
  border-radius: 100vmax;
  border: 3px solid var(--color-bg-dark);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-4-star-start);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  background-color: var(--color-bg-dark);
  background-image: linear-gradient(
    -10deg,
    var(--color-bg-dark),
    var(--color-bg)
  );
  color: var(--color-fg);
  font-size: var(--size-font);
  font-family:
    HYWenHei,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  overflow-y: scroll;
}

body {
  margin: 0;
}

a {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  color: var(--color-link-fg);
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  pointer-events: none;
  user-select: none;
}

button {
  all: unset;
  cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.game-board {
  position: sticky;
  top: 1em;
  width: calc(var(--board-cols) * 10vw);
  height: calc(var(--board-rows) * 10vw);
  min-width: 300px;
  min-height: 300px;
  max-width: calc(100vh - 2em);
  max-height: calc(100vh - 2em);
  overflow: hidden;
  border: 12px solid #73752d;
  border-radius: 12px;
  display: block;
}

:root {
  --board-cols: 8;
  --board-rows: 8;
  --player-row: 1;
  --player-col: 1;
}

#map {
  display: grid;
  grid-template-columns: repeat(var(--board-cols), 1fr);
  grid-template-rows: repeat(var(--board-rows), 1fr);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(src/components/App/background.png);
  background-size: calc(70vw);
}

#players {
  display: grid;
  grid-template-columns: repeat(var(--board-cols), 1fr);
  grid-template-rows: repeat(var(--board-rows), 1fr);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#overlays {
  display: grid;
  grid-template-columns: repeat(var(--board-cols), 1fr);
  grid-template-rows: repeat(var(--board-rows), 1fr);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#actions {
  display: grid;
  grid-template-columns: repeat(var(--board-cols), 1fr);
  grid-template-rows: repeat(var(--board-rows), 1fr);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wall {
  background-color: black;
}



.tile {
  background-size: calc(10vw - 4px);
  width: 100%;
  height: 100%;
  z-index: 0;
}

.tile1 {
  background-image: url(src/components/App/tile1.png);
}

.tile2 {
  background-image: url(src/components/App/tile2.png);
}

.tile3 {
  background-image: url(src/components/App/tile3.png);
}

.tile4 {
  background-image: url(src/components/App/tile4.png);
}

.tile5 {
  background-image: url(src/components/App/tile5.png);
}

.tile6 {
  background-image: url(src/components/App/tile6.png);
}

.tile7 {
}

.tile8 {
}

.player {
  z-index: 2;
  grid-column-start: var(--player-col);
  grid-row-start: var(--player-row); 
}

.overlay {
  z-index: 3;
  background-image: url(src/components/App/sign.png);
  opacity: 80%;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.5s ease;
}

.action {
  z-index: 10;
}

.body {
  background-image: url(src/components/App/char1.png);
  background-size: calc(12vw);
  background-position: -8px -5px;
}

#connection {
  min-height: 100vh;
    padding: 1em;
    position: relative;
    min-height: 0;
    display: block;
}

#play {
  min-height: 100vh;
    padding: 1em;
    position: relative;
    min-height: 0;
    display: block;
}